<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/Helpers")
    @RenderSection("scripts", required: false)
</head>
<body class="fullWidth fullHeight">
    <div id="tablePageLayout" class="body-table">
        <div class="main-page-contax-colors"></div>
        <div class="topBar">
            <a href="@Url.Action("Index","Home")">
                <div class="logotipo-area" onclick="location.href='/Default.aspx';"></div>
            </a>
            <div class="username-area valign-middle" style="display: table;">
                <div id="DIV_Search" class="inline" style="float:left;height: 46px;line-height: 46px;">
                    <div onkeypress="javascript:return WebForm_FireDefaultButton(event, 'Btn_Search')">
                        <input name="ctl00$TB_Search2" type="text" id="ctl00_TB_Search2" class="input-search capitalize" placeholder="Procurar Caso" autocomplete="off">
                        <input type="submit" name="ctl00$Btn_Search" value="" id="Btn_Search">
                    </div>
                </div>
                <div class="user-container inline" style="float:left;">
                    <div class="user-avatar" style="float:left; display: none"></div>
                    <div class="user-info" style="float:left;">
                        <div class="user-name">
                            <span id="ctl00_menuName">Boanateladmin</span>
                        </div>
                        <div class="user-job">
                            <span id="ctl00_menuPerfil">Manutenção</span>
                        </div>
                    </div>
                    <div class="user-open-menu" style="float:left;"></div>
                </div>
                <div class="logout-area" style="float:left; height: 46px;">
                    <input type="submit" name="ctl00$decoyEnterBtn" value="" onclick="return false;" id="ctl00_decoyEnterBtn" style="display: none;">
                    <input type="image" name="ctl00$LogOffBtn" id="ctl00_LogOffBtn" src="../img/logoutV2.png" style="height:30px;width:30px;border-width:0px;" value="">
                </div>
                <span id="ctl00_lblUsername" class="lbl-username" style="display: none">BOANATELADMIN</span>
            </div>
            <div class="user-menu">
                <ul class="user-popup">
                    <li class="greyBackground">
                        <span class="inline">
                            <span class="bold">TMT:</span>
                            00:00:00
                        </span>
                        <span class="inline">
                            <span class="bold">TRATADOS:</span>
                            0
                        </span>
                    </li>
                    <li class="config">
                        <span>Config</span>
                    </li>
                    <li class="links inline">
                        <span class="ui-icon motools-icon ui-icon-gear"></span>
                        <span><a href="/Administration/Configurations/EditUser.aspx">Editar</a></span>
                    </li>
                </ul>
            </div>
        </div>
        <table border="0" cellpadding="0" cellspacing="0" class="body-table">
            <tbody>
                <tr>
                    <td id="TD_MenuArea" class="menu-area" valign="top" align="left" style="width: 243px;">
                        <div id="lineGlowDiv" class="">
                            &nbsp;
                        </div>
                        <div id="menu-hamburger" class="menu-hamburger">
                            <div id="goToHome" class="">

                                <img id="homeButton" src="../img/home.png" alt="Home" style="border-width:0px;" class="">
                                <span id="goToHomeText" class="">HOME</span>

                            </div>
                            <div>
                                <img alt="Hamburger" id="IMG_Hamburger_Menu" src="../img/MenuIcon.png">
                            </div>
                        </div>
                        <div id="menuLabel" class="container-Menu-Label">
                            <span class="MenuClass">Menu</span>
                        </div>
                        <div id="menuInitialContent" class="menu-width" style="width: 243px; display: block;">
                            @Html.Partial("_Menu")
                        </div>

                    </td>

                    <td class="main-content-area" align="left" valign="top">
                        @RenderBody()
                        <div class="white-background">
                            <div id="GV_Tabs" class="tabs-container fullWidth inline"><input type="submit" name="ctl00$UC_TabsController$TB_CaseStatus" value="Estado dos Casos" id="TB_CaseStatus" class="tab selected"><input type="submit" name="ctl00$UC_TabsController$TB_Operational" value="Gestão Operacional" id="TB_Operational" class="tab"><input type="submit" name="ctl00$UC_TabsController$TB_ReportsMenu" value="Relatórios" id="TB_ReportsMenu" class="tab"><input type="submit" name="ctl00$UC_TabsController$TB_AdminMenu" value="Administração" id="TB_AdminMenu" class="tab"></div>
                        </div>
                        <div id="MasterPanel" class="fullWidth scrollableX scrollableY" style="min-height: 800px">
                            <div id="ctl00_Content1_Panel1" class="divBegining" style="background-color:#E5E9EC;border-width:0px;width:98%;">
                                <fieldset style="border-width: 0;">
                                    <br>
                                    <div id="ctl00_Content1_PanelDatatable" class="divBegining fullWidth whiteBackground">
                                        <div class="divCaseSection fullWidth minWidth760">
                                            <div id="ctl00_Content1_UC_CaseStatus_divFilter" class="blockContainer">
                                                <div class="caseTitleContainer">
                                                    <div class="caseTitle">Filtros</div>
                                                </div>
                                                <div class="labelInputContainer grid4Cols">
                                                    <label class="labelClass" for="DDL_Team">Equipas</label>
                                                    <select name="ctl00$Content1$UC_CaseStatus$DDL_Team" onchange="javascript:setTimeout('__doPostBack(\'ctl00$Content1$UC_CaseStatus$DDL_Team\',\'\')', 0)" id="DDL_Team" class="inputClass">
                                                        <option selected="selected" value="-1">Todos</option>
                                                        <option value="415">Inicial SCM R1 Cobrança PF</option>
                                                        <option value="416">Inicial SCM R1 Serviços / Cobrança PJ</option>
                                                        <option value="417">Inicial STFC R1 Cobrança PF</option>
                                                        <option value="418">Inicial STFC R1 Serviços / Cobrança PJ</option>
                                                        <option value="419">Inicial SCM R1 Manutenção</option>
                                                        <option value="420">Inicial STFC R1 Manutenção</option>
                                                        <option value="421">Inicial SCM R1 Serviços PF</option>
                                                        <option value="422">Inicial STFC R1 Serviços PF</option>
                                                        <option value="436">Exec - Validação</option>
                                                        <option value="451">(INTERNO) Ilha de Convergência Fixa e Velox</option>
                                                        <option value="452">(INTERNO) Envio de Carta</option>
                                                        <option value="454">(INTERNO) Faturamento - Cancelamento de Conta</option>
                                                        <option value="456">(INTERNO) SPC/SERASA - Consulta/Retirada</option>
                                                        <option value="457">(INTERNO) Consulta Ferramenta Oi Legal - Chamadas</option>
                                                        <option value="458">(INTERNO) Contestação Fatura Empresarial</option>
                                                        <option value="460">(TE) Backlog Estratégico</option>
                                                        <option value="462">Conta paga e Não baixada</option>
                                                        <option value="463">Bo Serviços - Transf. titularidade,  Contas braile e URA</option>
                                                        <option value="465">CGR - Velox</option>
                                                        <option value="466">CGR - Voz</option>
                                                        <option value="467">CGR - Dados</option>
                                                        <option value="468">Empresarial - Correção de Segmento</option>
                                                        <option value="469">CNS (Triagem)</option>
                                                        <option value="470">Corporativo Contestação - Plano Voz Avançada e Dados</option>
                                                        <option value="472">Corporativo - Abertura Serviços (OS)</option>
                                                        <option value="474">Empresarial Cadastro - Plano Dados e Voz Avançada</option>
                                                        <option value="475">Empresarial Serviços - Plano Voz Básica e Velox</option>
                                                        <option value="476">Empresarial - Problema/Erro Venda </option>
                                                        <option value="477">Engenharia - Rede de Acesso</option>
                                                        <option value="478">Faturamento - Problemas de Entrega e Emissão de fatura</option>
                                                        <option value="480">Fraude</option>
                                                        <option value="482">Planta Interna - Posto GF</option>
                                                        <option value="483">Envio de lista Telefônica</option>
                                                        <option value="484">Entrega Modem - Velox</option>
                                                        <option value="491">Empresarial - Portabilidade Fixa</option>
                                                        <option value="492">Empresarial - Retenção </option>
                                                        <option value="493">Empresarial - Televendas </option>
                                                        <option value="497">Planejamento - Telefone Público (TUP)</option>
                                                        <option value="500">Empresarial Serviços</option>
                                                        <option value="501">Análise de Crédito</option>
                                                        <option value="502">(INTERNO) Resgate de Chamadas - Fixo/Velox </option>
                                                        <option value="503">Ajustar cadastro Lista Telefônica</option>
                                                        <option value="504">Planta Externa - Velox sem slot </option>
                                                        <option value="505">Planta Externa - Velox Postos Não Agendáveis </option>
                                                        <option value="506">Planta Externa - Fixo Agendado</option>
                                                        <option value="507">Planta Externa - Fixo Sem slot </option>
                                                        <option value="511">CADI</option>
                                                        <option value="513">(INTERNO) Cobilling - Ag informação outra Prestadora</option>
                                                        <option value="514">Inicial SMP Serviços PF</option>
                                                        <option value="515">Inicial SMP Serviços PJ</option>
                                                        <option value="516">Inicial SMP Cobrança PF</option>
                                                        <option value="519">Inicial Genérico BT</option>
                                                        <option value="534">ContumazBT</option>
                                                        <option value="535">Contumaz</option>
                                                        <option value="537">(TE) Solicitar De Acordo</option>
                                                        <option value="538">TE Atividades FIXA R1</option>
                                                        <option value="539">TE Atividades FIXA R2</option>
                                                        <option value="540">TE Atividades Móvel</option>
                                                        <option value="541">TE Atividades TV</option>
                                                        <option value="543">TE Contumazes</option>
                                                        <option value="549">TE Oficios BT</option>
                                                        <option value="550">TE Oficios</option>
                                                        <option value="551">TE Oi TV</option>
                                                        <option value="552">_Brt  Fraude</option>
                                                        <option value="553">_Brt Empresarial Serviços</option>
                                                        <option value="555">_Brt Migração PJ BRT/Oi</option>
                                                        <option value="556">_Brt Portabilidade</option>
                                                        <option value="558">_Brt Troca de Chip DF</option>
                                                        <option value="559">_Brt Troca de Chip PR</option>
                                                        <option value="560">_Brt Troca de número e Chip</option>
                                                        <option value="561">_OI Análise de Crédito</option>
                                                        <option value="564">_OI Campanha 31 Anos</option>
                                                        <option value="567">_Oi Conta paga e não baixada</option>
                                                        <option value="569">_Oi Corporativo Contestação</option>
                                                        <option value="570">_OI Corporativo Serviços</option>
                                                        <option value="573">_Oi Empresarial - Entrega Aparelho, Chip e Modem</option>
                                                        <option value="574">_Oi Empresarial - Portabilidade</option>
                                                        <option value="575">_Oi Empresarial - Problema/Erro Venda</option>
                                                        <option value="576">_Oi Empresarial - Retenção</option>
                                                        <option value="577">_Oi Empresarial - Televendas</option>
                                                        <option value="578">_OI Empresarial Serviços</option>
                                                        <option value="579">_Oi Endereço não encontrado</option>
                                                        <option value="580">_Oi Entrega Aparelho/Modem</option>
                                                        <option value="581">_OI Fraude</option>
                                                        <option value="582">_Oi Funcionamento da Rede</option>
                                                        <option value="583">_Oi Funcionamento da Rede - Erro Plataforma</option>
                                                        <option value="585">_Oi Portabilidade - Pessoa Física</option>
                                                        <option value="586">_Oi Programa de Pontos</option>
                                                        <option value="590">_Oi Troca de Titularidade</option>
                                                        <option value="591">_OI/BRT Análise de Crédito</option>
                                                        <option value="596">Empresarial Vendas - Plano Fixo, Micro e Soho</option>
                                                        <option value="599">Oi TV - Conta paga e Não baixada</option>
                                                        <option value="601">Oi TV - Fraude</option>
                                                        <option value="602">Oi TV - Operação de Campo</option>
                                                        <option value="606">(INTERNO) _BRT/Faturamento - Acessos Especiais</option>
                                                        <option value="607">(INTERNO) _OI Ilha de Convergência Móvel</option>
                                                        <option value="608">(INTERNO) _Oi Registrar/Acompanhar ARS</option>
                                                        <option value="609">(INTERNO) _Oi Televendas</option>
                                                        <option value="610">(INTERNO) _Oi Tratamento Oi Chamados</option>
                                                        <option value="614">(INTERNO) Oi TV - Backlog Estratégico</option>
                                                        <option value="616">(INTERNO) Oi TV - Ilha de Ajuste Futuro</option>
                                                        <option value="617">(INTERNO) Oi TV - Ilha de Convergência</option>
                                                        <option value="618">(INTERNO) Oi TV - Registrar/Acompanhar ARS</option>
                                                        <option value="619">(INTERNO) Oi TV - Resgate de Chamadas</option>
                                                        <option value="622">(INTERNO) Rural Cel / Rural Van</option>
                                                        <option value="623">(INTERNO)_Brt Ilha de Ajuste Futuro</option>
                                                        <option value="624">(INTERNO)_Oi Acompanhamento Envio de Chip</option>
                                                        <option value="625">(INTERNO)_Oi Backlog Estratégico</option>
                                                        <option value="626">(INTERNO)_Oi Controle (cartão de crédito)</option>
                                                        <option value="627">(INTERNO)_OI Envio de Carta</option>
                                                        <option value="628">(INTERNO)_Oi Envio de Chip</option>
                                                        <option value="629">(INTERNO)_OI Ilha de Ajuste Futuro</option>
                                                        <option value="630">(INTERNO)_OI Ilha de Ajuste Pré-Pago</option>
                                                        <option value="631">(INTERNO)_OI Resgate de Chamada - Móvel</option>
                                                        <option value="633">(INTERNO)_OI Suporte Técnico (Pós- pago)</option>
                                                        <option value="634">(INTERNO)_Oi Suporte Técnico (Pré- pago)</option>
                                                        <option value="635">(INTERNO)_OI Tratamento de Erros TI</option>
                                                        <option value="636">(INTERNO)_Oi/Brt Backlog Estratégico</option>
                                                        <option value="638">(INTERNO)_OI/BRT SPC/SERASA - Consulta/Retirada</option>
                                                        <option value="639">Genérico BT</option>
                                                        <option value="640">Genérico</option>
                                                        <option value="641">Genérico TE</option>
                                                        <option value="642">Ilha de Convergência</option>
                                                        <option value="647">Entrega Aparelho/Modem - Velox</option>
                                                        <option value="650">Funcionamento de Rede Velox</option>
                                                        <option value="651">GAT VOZ/DADOS/VELOX</option>
                                                        <option value="652">Internet - Provedores</option>
                                                        <option value="656">Portabilidade Fixa</option>
                                                        <option value="660">Rede de Acesso Dados</option>
                                                        <option value="661">Reencaminhamento BT</option>
                                                        <option value="667">Planta Externa - Velox Agendado</option>
                                                        <option value="668">Planta Externa - Fixo Postos Não Agendáveis</option>
                                                        <option value="669">Planta Interna - MAT</option>
                                                        <option value="670">Planta Interna - Posto PN</option>
                                                        <option value="671">Planta Interna - Voz Básico e Velox</option>
                                                        <option value="672">Planta Interna - Voz Avançada e Dados</option>
                                                        <option value="673">Planta Interna - Posto FCRDE e COMUT</option>
                                                        <option value="674">Planta Interna - Viabilidade velox</option>
                                                        <option value="675">Planta Interna - Posto Fibra Ótica</option>
                                                        <option value="678">Inicial Convergente BT</option>
                                                        <option value="680">Inicial Estratégico BT</option>
                                                        <option value="682">Inicial Priorização BT</option>
                                                        <option value="684">Inicial SCM R1 Cobrança PJ</option>
                                                        <option value="685">Inicial SCM R1 Serviços PJ</option>
                                                        <option value="687">Inicial SCM R2 Cobrança PJ</option>
                                                        <option value="690">Inicial SCM R2 Serviços PJ</option>
                                                        <option value="695">Inicial SMP Cobrança PJ</option>
                                                        <option value="696">Inicial STFC R1 Cobrança PJ</option>
                                                        <option value="697">Inicial STFC R1 Serviços PJ</option>
                                                        <option value="699">Inicial STFC R2 Cobrança PJ</option>
                                                        <option value="702">Inicial STFC R2 Serviços PJ</option>
                                                        <option value="704">Inicial TV Cobrança</option>
                                                        <option value="705">Inicial TV Serviços</option>
                                                        <option value="710">(INTERNO) Devolução em Conta Corrente</option>
                                                        <option value="712">(INTERNO) Faturamento - Acessos Especiais</option>
                                                        <option value="714">(INTERNO) Ilha de Ajuste Futuro</option>
                                                        <option value="716">(INTERNO) Registrar/Acompanhar ARS</option>
                                                        <option value="718">(INTERNO)Backlog Estratégico</option>
                                                        <option value="719">ACN_Brt Telecobrança</option>
                                                        <option value="720">ACN_Oi TV - Telecobrança</option>
                                                        <option value="721">ACN_Telecobrança</option>
                                                        <option value="729">(INTERNO) Oi TV - Solicitar De Acordo</option>
                                                        <option value="730">(INTERNO)_Oi Solicitar de Acordo</option>
                                                        <option value="731">(INTERNO)_Oi/Brt Solicitar De Acordo</option>
                                                        <option value="732">(INTERNO)Solicitar De Acordo</option>
                                                        <option value="734">Brt Telecobrança</option>
                                                        <option value="736">Endereço não encontrado</option>
                                                        <option value="737">Oi TV - Telecobrança</option>
                                                        <option value="738">Telecobrança</option>
                                                        <option value="739">OI_Corporativo - Serviços pendentes</option>
                                                        <option value="740">Corporativo - Serviços pendentes</option>
                                                        <option value="741">Empresarial - Cancelamento de Móvel  Base Legada PJ</option>
                                                        <option value="742">Oi Internet - Provedores</option>
                                                        <option value="743">OI TV- Cancelamento de Conta</option>
                                                        <option value="744">OI_(INTERNO) Oi TV - Solicitar De Acordo</option>
                                                        <option value="745">OI_(INTERNO)_Oi Solicitar de Acordo</option>
                                                        <option value="746">OI_(INTERNO)_Oi/Brt Solicitar De Acordo</option>
                                                        <option value="747">OI_(INTERNO)Solicitar De Acordo</option>
                                                        <option value="748">OI_(TE) Solicitar De Acordo</option>
                                                        <option value="750">Backlog Mês STFC R1 Serviço/Cobrança</option>
                                                        <option value="751">Backlog Mês STFC R1 Manutenção</option>
                                                        <option value="754">Backlog Mês SCM R1 Serviço/Cobrança</option>
                                                        <option value="755">Backlog Mês SCM R1 Manutenção</option>
                                                        <option value="758">Backlog Mês STFC R2 Serviço/Cobrança</option>
                                                        <option value="759">Backlog Mês STFC R2 Manutenção</option>
                                                        <option value="762">Backlog Mês SCM R2 Serviço/Cobrança</option>
                                                        <option value="763">Backlog Mês SCM R2 Manutenção</option>
                                                        <option value="766">Backlog Trim STFC R1 Serviço/Cobrança</option>
                                                        <option value="767">Backlog Trim STFC R1 Manutenção</option>
                                                        <option value="770">Backlog Trim SCM R1 Serviço/Cobrança</option>
                                                        <option value="771">Backlog Trim SCM R1 Manutenção</option>
                                                        <option value="774">Reaberta STFC R1 Serviços\Cobrança</option>
                                                        <option value="775">Reaberta STFC R1 Manutenção</option>
                                                        <option value="776">Reaberta SCM R1 Serviços\Cobrança</option>
                                                        <option value="777">Reaberta SCM R1 Manutenção</option>
                                                        <option value="787">SMP Cobrança/Serviços PJ R2</option>
                                                        <option value="816">_OI Empresarial GSC – Benefício não aplicado R1</option>
                                                        <option value="817">Reincidente</option>
                                                        <option value="818">Blindagem</option>
                                                        <option value="821">Exec - Contato</option>
                                                        <option value="822">PBLE</option>

                                                    </select>
                                                </div>

                                                <div class="labelInputContainer grid4Cols">
                                                    <label class="labelClass" for="DDL_Type">Tipo Caso</label>
                                                    <select name="ctl00$Content1$UC_CaseStatus$DDL_Type" onchange="javascript:setTimeout('__doPostBack(\'ctl00$Content1$UC_CaseStatus$DDL_Type\',\'\')', 0)" id="DDL_Type" class="inputClass">
                                                        <option selected="selected" value="-1">Todos</option>
                                                        <option value="38">BO Anatel</option>

                                                    </select>
                                                </div>

                                                <div class="labelInputContainer grid4Cols">
                                                    <label class="labelClass" for="DDL_Status">Estados</label>
                                                    <select name="ctl00$Content1$UC_CaseStatus$DDL_Status" onchange="javascript:setTimeout('__doPostBack(\'ctl00$Content1$UC_CaseStatus$DDL_Status\',\'\')', 0)" id="DDL_Status" class="inputClass">
                                                        <option selected="selected" value="-1">Todos</option>
                                                        <option value="1005">Em Andamento</option>
                                                        <option value="1006">Não Iniciado</option>
                                                        <option value="1008">Agendado</option>
                                                        <option value="20">Pendente</option>

                                                    </select>
                                                </div>
                                            </div>

                                            <div id="ctl00_Content1_UC_CaseStatus_divData" class="blockContainer">
                                                <div class="caseTitleContainer">
                                                    <div class="caseTitle">Dados - Estado dos Casos</div>
                                                </div>

                                                <div>
                                                    <table class="fullWidth minWidth760 DataTable" cellspacing="2" cellpadding="3" rules="all" border="1" id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Fila</th>
                                                                <th scope="col">Tipo</th>
                                                                <th scope="col">Status</th>
                                                                <th scope="col">Total de casos</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl02_lnkBtn1" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl02$lnkBtn1','')" style="font-size:12px;">Inicial SCM R1 Cobrança PF</a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl02_lnkBtn_2" disabled="disabled" style="font-size:12px;">Pendente</a>
                                                                </td>
                                                                <td align="right">369</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl03_lnkBtn1" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl03$lnkBtn1','')" style="font-size:12px;">Inicial SCM R1 Cobrança PF</a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl03_lnkBtn_2" disabled="disabled" style="font-size:12px;">Não Iniciado</a>
                                                                </td>
                                                                <td align="right">231</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl04_lnkBtn1" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl04$lnkBtn1','')" style="font-size:12px;">Inicial SCM R1 Serviços / Cobrança PJ</a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl04_lnkBtn_2" disabled="disabled" style="font-size:12px;">Não Iniciado</a>
                                                                </td>
                                                                <td align="right">15</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl05_lnkBtn1" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl05$lnkBtn1','')" style="font-size:12px;">Inicial SCM R1 Serviços / Cobrança PJ</a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl05_lnkBtn_2" disabled="disabled" style="font-size:12px;">Pendente</a>
                                                                </td>
                                                                <td align="right">6</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl06_lnkBtn1" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl06$lnkBtn1','')" style="font-size:12px;">Inicial STFC R1 Cobrança PF</a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl06_lnkBtn_2" disabled="disabled" style="font-size:12px;">Pendente</a>
                                                                </td>
                                                                <td align="right">664</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl07_lnkBtn1" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl07$lnkBtn1','')" style="font-size:12px;">Inicial STFC R1 Cobrança PF</a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl07_lnkBtn_2" disabled="disabled" style="font-size:12px;">Não Iniciado</a>
                                                                </td>
                                                                <td align="right">1086</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl08_lnkBtn1" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl08$lnkBtn1','')" style="font-size:12px;">Inicial STFC R1 Serviços / Cobrança PJ</a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl08_lnkBtn_2" disabled="disabled" style="font-size:12px;">Não Iniciado</a>
                                                                </td>
                                                                <td align="right">104</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl09_lnkBtn1" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl09$lnkBtn1','')" style="font-size:12px;">Inicial STFC R1 Serviços / Cobrança PJ</a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl09_lnkBtn_2" disabled="disabled" style="font-size:12px;">Pendente</a>
                                                                </td>
                                                                <td align="right">29</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl10_lnkBtn1" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl10$lnkBtn1','')" style="font-size:12px;">Inicial SCM R1 Manutenção</a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl10_lnkBtn_2" disabled="disabled" style="font-size:12px;">Pendente</a>
                                                                </td>
                                                                <td align="right">960</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl11_lnkBtn1" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl11$lnkBtn1','')" style="font-size:12px;">Inicial SCM R1 Manutenção</a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl11_lnkBtn_2" disabled="disabled" style="font-size:12px;">Não Iniciado</a>
                                                                </td>
                                                                <td align="right">460</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl12_lnkBtn1" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl12$lnkBtn1','')" style="font-size:12px;">Inicial STFC R1 Manutenção</a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl12_lnkBtn_2" disabled="disabled" style="font-size:12px;">Pendente</a>
                                                                </td>
                                                                <td align="right">1513</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl13_lnkBtn1" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl13$lnkBtn1','')" style="font-size:12px;">Inicial STFC R1 Manutenção</a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl13_lnkBtn_2" disabled="disabled" style="font-size:12px;">Não Iniciado</a>
                                                                </td>
                                                                <td align="right">840</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl14_lnkBtn1" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl14$lnkBtn1','')" style="font-size:12px;">Inicial SCM R1 Serviços PF</a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl14_lnkBtn_2" disabled="disabled" style="font-size:12px;">Não Iniciado</a>
                                                                </td>
                                                                <td align="right">25</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl15_lnkBtn1" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl15$lnkBtn1','')" style="font-size:12px;">Inicial SCM R1 Serviços PF</a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl15_lnkBtn_2" disabled="disabled" style="font-size:12px;">Pendente</a>
                                                                </td>
                                                                <td align="right">20</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl16_lnkBtn1" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl16$lnkBtn1','')" style="font-size:12px;">Inicial STFC R1 Serviços PF</a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl16_lnkBtn_2" disabled="disabled" style="font-size:12px;">Pendente</a>
                                                                </td>
                                                                <td align="right">59</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl17_lnkBtn1" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl17$lnkBtn1','')" style="font-size:12px;">Inicial STFC R1 Serviços PF</a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl17_lnkBtn_2" disabled="disabled" style="font-size:12px;">Não Iniciado</a>
                                                                </td>
                                                                <td align="right">100</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl18_lnkBtn1" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl18$lnkBtn1','')" style="font-size:12px;">CADI</a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl18_lnkBtn_2" disabled="disabled" style="font-size:12px;">Não Iniciado</a>
                                                                </td>
                                                                <td align="right">3</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl19_lnkBtn1" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl19$lnkBtn1','')" style="font-size:12px;">CADI</a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl19_lnkBtn_2" disabled="disabled" style="font-size:12px;">Pendente</a>
                                                                </td>
                                                                <td align="right">119</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl20_lnkBtn1" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl20$lnkBtn1','')" style="font-size:12px;">Contumaz</a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl20_lnkBtn_2" disabled="disabled" style="font-size:12px;">Não Iniciado</a>
                                                                </td>
                                                                <td align="right">115</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl21_lnkBtn1" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl21$lnkBtn1','')" style="font-size:12px;">Contumaz</a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl21_lnkBtn_2" disabled="disabled" style="font-size:12px;">Pendente</a>
                                                                </td>
                                                                <td align="right">689</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl22_lnkBtn1" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl22$lnkBtn1','')" style="font-size:12px;">TE Oficios</a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl22_lnkBtn_2" disabled="disabled" style="font-size:12px;">Pendente</a>
                                                                </td>
                                                                <td align="right">33</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl23_lnkBtn1" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl23$lnkBtn1','')" style="font-size:12px;">Backlog Mês STFC R1 Serviço/Cobrança</a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl23_lnkBtn_2" disabled="disabled" style="font-size:12px;">Pendente</a>
                                                                </td>
                                                                <td align="right">509</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl24_lnkBtn1" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl24$lnkBtn1','')" style="font-size:12px;">Backlog Mês STFC R1 Manutenção</a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl24_lnkBtn_2" disabled="disabled" style="font-size:12px;">Não Iniciado</a>
                                                                </td>
                                                                <td align="right">1</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl25_lnkBtn1" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl25$lnkBtn1','')" style="font-size:12px;">Backlog Mês STFC R1 Manutenção</a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl25_lnkBtn_2" disabled="disabled" style="font-size:12px;">Pendente</a>
                                                                </td>
                                                                <td align="right">693</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl26_lnkBtn1" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl26$lnkBtn1','')" style="font-size:12px;">Backlog Mês SCM R1 Serviço/Cobrança</a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl26_lnkBtn_2" disabled="disabled" style="font-size:12px;">Pendente</a>
                                                                </td>
                                                                <td align="right">205</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl27_lnkBtn1" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl27$lnkBtn1','')" style="font-size:12px;">Backlog Mês SCM R1 Manutenção</a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl27_lnkBtn_2" disabled="disabled" style="font-size:12px;">Pendente</a>
                                                                </td>
                                                                <td align="right">382</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl28_lnkBtn1" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl28$lnkBtn1','')" style="font-size:12px;">Backlog Trim STFC R1 Serviço/Cobrança</a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl28_lnkBtn_2" disabled="disabled" style="font-size:12px;">Pendente</a>
                                                                </td>
                                                                <td align="right">586</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl29_lnkBtn1" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl29$lnkBtn1','')" style="font-size:12px;">Backlog Trim STFC R1 Manutenção</a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl29_lnkBtn_2" disabled="disabled" style="font-size:12px;">Pendente</a>
                                                                </td>
                                                                <td align="right">417</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl30_lnkBtn1" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl30$lnkBtn1','')" style="font-size:12px;">Backlog Trim SCM R1 Serviço/Cobrança</a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl30_lnkBtn_2" disabled="disabled" style="font-size:12px;">Não Iniciado</a>
                                                                </td>
                                                                <td align="right">1</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl31_lnkBtn1" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl31$lnkBtn1','')" style="font-size:12px;">Backlog Trim SCM R1 Serviço/Cobrança</a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl31_lnkBtn_2" disabled="disabled" style="font-size:12px;">Pendente</a>
                                                                </td>
                                                                <td align="right">208</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl32_lnkBtn1" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl32$lnkBtn1','')" style="font-size:12px;">Backlog Trim SCM R1 Manutenção</a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl32_lnkBtn_2" disabled="disabled" style="font-size:12px;">Pendente</a>
                                                                </td>
                                                                <td align="right">328</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl33_lnkBtn1" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl33$lnkBtn1','')" style="font-size:12px;">Backlog Trim SCM R1 Manutenção</a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl33_lnkBtn_2" disabled="disabled" style="font-size:12px;">Não Iniciado</a>
                                                                </td>
                                                                <td align="right">4</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl34_lnkBtn1" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl34$lnkBtn1','')" style="font-size:12px;">Reaberta STFC R1 Serviços\Cobrança</a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl34_lnkBtn_2" disabled="disabled" style="font-size:12px;">Pendente</a>
                                                                </td>
                                                                <td align="right">3</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl35_lnkBtn1" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl35$lnkBtn1','')" style="font-size:12px;">Reaberta SCM R1 Manutenção</a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl35_lnkBtn_2" disabled="disabled" style="font-size:12px;">Pendente</a>
                                                                </td>
                                                                <td align="right">3</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl36_lnkBtn1" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl36$lnkBtn1','')" style="font-size:12px;">Reincidente</a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl36_lnkBtn_2" disabled="disabled" style="font-size:12px;">Não Iniciado</a>
                                                                </td>
                                                                <td align="right">25</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl37_lnkBtn1" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl37$lnkBtn1','')" style="font-size:12px;">Reincidente</a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl37_lnkBtn_2" disabled="disabled" style="font-size:12px;">Pendente</a>
                                                                </td>
                                                                <td align="right">590</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl38_lnkBtn1" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl38$lnkBtn1','')" style="font-size:12px;">Blindagem</a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl38_lnkBtn_2" disabled="disabled" style="font-size:12px;">Pendente</a>
                                                                </td>
                                                                <td align="right">242</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl39_lnkBtn1" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl39$lnkBtn1','')" style="font-size:12px;">Blindagem</a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl39_lnkBtn_2" disabled="disabled" style="font-size:12px;">Não Iniciado</a>
                                                                </td>
                                                                <td align="right">4</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl40_lnkBtn1" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl40$lnkBtn1','')" style="font-size:12px;">PBLE</a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl40_lnkBtn_2" disabled="disabled" style="font-size:12px;">Não Iniciado</a>
                                                                </td>
                                                                <td align="right">5</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl41_lnkBtn1" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl41$lnkBtn1','')" style="font-size:12px;">PBLE</a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl41_lnkBtn_2" disabled="disabled" style="font-size:12px;">Pendente</a>
                                                                </td>
                                                                <td align="right">5</td>
                                                            </tr>
                                                            <tr class="lastTableCell">
                                                                <td>
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl42_lnkBtn1" disabled="disabled" style="font-size:12px;"></a>
                                                                </td>
                                                                <td>&nbsp;</td>
                                                                <td class="FirstColumnColor boldTableCell uppercase">
                                                                    <a id="ctl00_Content1_UC_CaseStatus_GV_CaseStatus_ctl42_lnkBtn_2" href="javascript:__doPostBack('ctl00$Content1$UC_CaseStatus$GV_CaseStatus$ctl42$lnkBtn_2','')" style="font-size:12px;">Total</a>
                                                                </td>
                                                                <td align="right">11651</td>
                                                            </tr>
                                                        </tbody>
                                                        <tfoot>

                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div id="updateProgressDiv" style="display: none; height: 100px; width: 100px">
                                <img id="ctl00_Content1_imgLoader" src="../img/ajax-loader.gif" style="border-width:0px;">
                            </div>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    @*@Html.Action("Render", "Menu", User.Identity.Name)*@
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
    @Scripts.Render("~/bundles/Main")
</body>
</html>
