<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/CSS/MoTools")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/Helpers")
    @RenderSection("scripts", required: false)
</head>
<body class="fullWidth fullHeight">
    <div id="tablePageLayout" class="body-table">
        <div class="main-page-contax-colors"></div>
        <div class="topBar">
            <a href="@Url.Action("Index","Home")">
                <div class="logotipo-area" onclick="location.href='/Default.aspx';"></div>
            </a>
            <div class="username-area valign-middle" style="display: table;">
                <div id="DIV_Search" class="inline" style="float:left;height: 46px;line-height: 46px;">
                    <div onkeypress="javascript:return WebForm_FireDefaultButton(event, 'Btn_Search')">
                        <input name="ctl00$TB_Search2" type="text" id="ctl00_TB_Search2" class="input-search capitalize" placeholder="Procurar Caso" autocomplete="off">
                        <input type="submit" name="ctl00$Btn_Search" value="" id="Btn_Search">
                    </div>
                </div>
                <div class="user-container inline" style="float:left;">
                    <div class="user-avatar" style="float:left; display: none"></div>
                    <div class="user-info" style="float:left;">
                        <div class="user-name">
                            <span id="ctl00_menuName">Boanateladmin</span>
                        </div>
                        <div class="user-job">
                            <span id="ctl00_menuPerfil">Manutenção</span>
                        </div>
                    </div>
                    <div class="user-open-menu" style="float:left;"></div>
                </div>
                <div class="logout-area" style="float:left; height: 46px;">
                    <input type="submit" name="ctl00$decoyEnterBtn" value="" onclick="return false;" id="ctl00_decoyEnterBtn" style="display: none;">
                    <input type="image" name="ctl00$LogOffBtn" id="ctl00_LogOffBtn" src="../img/logoutV2.png" style="height:30px;width:30px;border-width:0px;" value="">
                </div>
                <span id="ctl00_lblUsername" class="lbl-username" style="display: none">BOANATELADMIN</span>
            </div>
            <div class="user-menu">
                <ul class="user-popup">
                    <li class="greyBackground">
                        <span class="inline">
                            <span class="bold">TMT:</span>
                            00:00:00
                        </span>
                        <span class="inline">
                            <span class="bold">TRATADOS:</span>
                            0
                        </span>
                    </li>
                    <li class="config">
                        <span>Config</span>
                    </li>
                    <li class="links inline">
                        <span class="ui-icon motools-icon ui-icon-gear"></span>
                        <span>@Html.ActionLink("Editar", "Edit", "User", new { username = "joaoestrela" }, null)</span>
                    </li>
                </ul>
            </div>
        </div>
        <table border="0" cellpadding="0" cellspacing="0" class="body-table">
            <tbody>
                <tr>
                    <td id="TD_MenuArea" class="menu-area" valign="top" align="left" style="width: 243px;">
                        <div id="lineGlowDiv" class="">
                            &nbsp;
                        </div>
                        <div id="menu-hamburger" class="menu-hamburger">
                            <div id="goToHome" class="">

                                <img id="homeButton" src="../img/home.png" alt="Home" style="border-width:0px;" class="">
                                <span id="goToHomeText" class="">HOME</span>

                            </div>
                            <div>
                                <img alt="Hamburger" id="IMG_Hamburger_Menu" src="../img/MenuIcon.png">
                            </div>
                        </div>
                        <div id="menuLabel" class="container-Menu-Label">
                            <span class="MenuClass">Menu</span>
                        </div>
                        <div id="menuInitialContent" class="menu-width" style="width: 243px; display: block;">
                            @{Html.RenderAction("Get", "Menu");}
                        </div>
                    </td>
                    <td class="default-background" align="left" valign="top">
                        <div class="white-background"></div>
                        <div ID="MasterPanel" class="fullWidth scrollableX scrollableY"  style="min-height: 800px">
                            @RenderBody()
                        </div>                       
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    @*@Html.Action("Render", "Menu", User.Identity.Name)*@
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
    @Scripts.Render("~/bundles/Main")
</body>
</html>
