@model MoToolsMVC.DAL.UsersRCA

@{
    ViewBag.Title = "Editar Usuário";
}
@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()*@



@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@Html.HiddenFor(model => model.UsernameRCA)

<div class="editUser" style="background-color: #E5E9EC; border-width: 0px; width: 99%;">
    <div class="divCaseSection fullWidth minWidth760 whiteBackground">
        <div class="blockContainer">
            <div class="caseTitleContainer">
                <div class="caseTitle">EDITAR USUÁRIO</div>
            </div>

            <div class="labelInputContainer grid4Cols">
                @Html.LabelFor(model => model.UsernameRCA, htmlAttributes: new { @class = "labelClass" })
                @Html.EditorFor(model => model.UsernameRCA, new { htmlAttributes = new { @class = "inputClass", @disabled = "disabled" } })
                @*@Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "text-danger" })*@
            </div>

            <div class="labelInputContainer grid4Cols">
                @Html.LabelFor(model => model.DisplayName, htmlAttributes: new { @class = "labelClass" })
                @Html.EditorFor(model => model.DisplayName, new { htmlAttributes = new { @class = "inputClass", @disabled = "disabled" } })
                @*@Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "text-danger" })*@
            </div>

            <br />

            <div class="labelInputContainer grid4Cols">
                @Html.LabelFor(model => model.UsersRCA2.DisplayName, htmlAttributes: new { @class = "labelClass" })
                @Html.EditorFor(model => model.DisplayName, new { htmlAttributes = new { @class = "inputClass", @disabled = "disabled" } })
                @*@Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "text-danger" })*@
            </div>

            <div class="labelInputContainer grid4Cols">
                @Html.LabelFor(model => model.Role.Name, htmlAttributes: new { @class = "labelClass" })
                @Html.EditorFor(model => model.Role.Name, new { htmlAttributes = new { @class = "inputClass", @disabled = "disabled" } })
                @*@Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "text-danger" })*@
            </div>

            <br />

            <div class="labelInputContainer grid4Cols cbContainer">
                <input id="ctl00_Content1_checkPass" type="checkbox" name="ctl00$Content1$checkPass" onclick="javascript:setTimeout('__doPostBack(\'ctl00$Content1$checkPass\',\'\')', 0)" value="on"><label for="ctl00_Content1_checkPass">Modificar Senha?</label>
            </div>
            <br />
            <div class="labelInputContainer grid4Cols">
                <label class="labelClass" for="editPassword">Senha</label><input name="ctl00$Content1$editPassword" type="password" id="ctl00_Content1_editPassword" disabled="disabled" class="inputClass">
            </div>
            <div class="labelInputContainer grid4Cols">
                <label class="labelClass" for="editConfirmPassword">Confirmar Senha</label><input name="ctl00$Content1$editConfirmPassword" type="password" id="ctl00_Content1_editConfirmPassword" disabled="disabled" class="inputClass">
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="mot-button save-button" />
                </div>
            </div>
        </div>
    </div>
</div>
@* } *@

